  @layer base {

    html,
    body {
      margin: 0;
      padding: 0;
    }

    body {
      overscroll-behavior: none;
    }

    main>:first-child {
      margin-top: 0 !important;
    }

    main>:last-child {
      margin-bottom: 0 !important;
    }
  }

  ::-webkit-scrollbar {
    display: none;
  }

  nav a.active {
    color: #e59e0b;

    &:hover {
      color: #e59e0b;
    }

    /* @apply transition-colors bg-primary-container text-on-primary-container font-label-lg text-label-lg rounded px-space-md py-space-xs */
  }